<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a routerLink="/books" class="navbar-brand"><h4>Home</h4></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            
           
            <li>
              <a  routerLink="/books"><h4>Books</h4></a>
            </li>
            <li>
              <a  routerLink="/authors"><h4>Authors</h4></a>
            </li>
            <li>
              <a  routerLink="/"><h4>Logout</h4></a>
            </li>
           
                 
          </ul>
          <ul class="nav navbar-right navbar-nav me">
            <li class="dropdown me">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu me" style="padding:12px;">
                <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<div class="animation-wrapper">
        
  <div class="animation-box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>



<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7 mar">
        <h1>Update Book
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>





<div class="container">
  <div class="row">
    
    
    <div class="col-md-12"> 
      
      <!-- <div class="panel"> -->
        
        <div class="panel-body">

            
          
          
            
          <!--/stories-->
          


          <div class="contain-form" >

          <form (ngSubmit)="editProduct()">
            
            
            <div class="input-box" >
            <h2 style="color:white;"><b>Update Book</b></h2>
          </div>
          
            <div class="input-box">
                <span class="span1"><i class="fa fa-book"></i></span>
                <input  id="name" name="title" type="text" [(ngModel)]="bookItem.bookname" placeholder="Name Of Book" required >
            </div>
        
            <div class="input-box">
                <span class="span1"><i class="fa fa-user-o"></i></span>
                <input name="author"  id="author" type="text"  [(ngModel)]="bookItem.author"  placeholder="Author" required >
                <!-- <label for="errormail" id="errormail"></label> -->
            </div>
        
            <div class="input-box">
                <span class="span1"><i class="fa fa-file"></i></span>
                <input name="genre" id="genre" type="text" [(ngModel)]="bookItem.genre" placeholder="Genre" required >
                <!-- <label id="errornumber" for="number"></label> -->
            </div>
        
            <div class="input-box">
                <span class="span1"><i class="fa fa-photo"></i></span>
                <input name="image" type="file" id="image" [(ngModel)]="bookItem.imageurl" placeholder="image with path in front of name"  required >
            </div>
            <div class="input-box">
                <button class="button-signup" type="submit"><i class="fa fa-book"></i>Updatebook</button>
            <!-- <div class="misc">
                if you already have an account??<a href="loginnew.html">Login!!</a>
            </div>  -->
            </div>
        
        
        </form>
      </div>
     
        
    
    
          <!--/stories-->
          
          
        
        
          
        </div>
    

      <!-- </div> -->
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>

                                                


<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> by Ajay Krishnan</p>      
      </div>
    </div>
  </div>
</footer>

</div>
	
</body>