/* override bootstrap styles */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#000003;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  margin-left: 10px;
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 300% ;
  color: rgb(12, 7, 7);
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#000044;
  border-color:#000044;
  color:#efefff;
  min-height:127px;
  display: none;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

/* .top-spacer {
  background-color:#ffffff;
  height:40px;
} */

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

.mar{
  margin-top: 5%;
}
.me{
  opacity: 90%;
}


body{
    margin: 0;
    padding: 0;
}
.animation-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient( rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.animation-box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}
.animation-box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.animation-box div:nth-child(2){
    top: 30%;
    left: 85%;
    animation: animate 7s linear infinite;
}
.animation-box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.animation-box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.animation-box div:nth-child(5){
    top: 57%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.animation-box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.animation-box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.animation-box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.animation-box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.animation-box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}




/* new form */


form{
    
    width: 500px;
    margin: 8% auto;
    padding: 3% 3%;
    text-align: center;
    box-shadow: 0 20px 40px;
    position: relative;
  
    


    /* background-image: url(./images/sign1.jpg) */
}




.input-box{
    margin: 30px auto;
    width: 80%;
    position: relative;
    box-shadow: 0 8px 10px -10px ;
    
   
    

}
.input-box input{
    width: 100%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
  
    
    

}

.span1{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right,#4CAF50,#00BCD4);
}

.span1 .fa{
    padding: 10px;
    color: #fff;
}


.button-signup{
    
    width: 130px;
    height: 40px;
    margin-left: 35%;
    display: block;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right,#07500a,#062b30);
    cursor: pointer;

       
}

.button-signup:hover{
    background: linear-gradient(to right,#57f35d,#3ed8ec);
    cursor: pointer;
}
button .fa{
    margin-right: 10px;

}

.password-strength-indicator{
    font-size: 12px;
    display: inline-block;
    height: 15px;
    min-width: 20%;
    text-align: center;
    transition: 1s;
    margin: 50px 0;
    color: #fff;
}

.password-strength-indicator.very-weak{
    background: #cf0000;
    width: 20%;
}

.password-strength-indicator.weak{
    background: #f6891f;
    width: 40%;
}
.password-strength-indicator.good{
    background: #c9c940;
    width: 60%;
}
.password-strength-indicator.strong{
    background: #91f829;
    width: 80%;
}
.password-strength-indicator.very-strong{
    background: #1b9602;
    width: 100%;
}



